<section id="home" class="hero">
    <div class="hero-overlay"></div>
    <div class="hero-content">
      <h1 class="hero-title">Welcome to Pirate Bar</h1>
      <p class="hero-subtitle">Set Sail for an Unforgettable Night</p>
      <div class="buttons">
        <a href="#menu"><button class="cta"  id="viewMenu">View Menu</button></a>
        <a href="#functions" ><button class="cta" id="bookNow">Book a Function</button></a>
      </div>
    </div>
    <!-- <video class="hero-video" autoplay muted loop playsinline>
      <source src="https://videos.pexels.com/video-files/4485547/4485547-hd_1920_1080_25fps.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video> -->
    <img class="hero-video" src="pirate-bar.png" alt="pirate-bar" />
  </section> 
